.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.main {
  height: 90vh;
}

.border-1 {
  border: 1px solid black;
}

.mb-5 {
  margin-bottom: 10px;
}

.width-content {
  width: fit-content;
}

.flex-justify {
  justify-content: center;
}

.flex-align {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}
